@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.6;
}
