[200~footer{
 footer{
    background-image: url(FOOTERIMAGE.jpg);
    background-size: contain;
    height:440px ;
    color: white;
}
.foot{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    list-style-type: none;
    font-weight: 900;
    cursor: pointer;
    color: #cc00ff;
}.imgg {
    background-image: url(coder.jpg);
    background-size: cover;
    height: 300px;
    width:340px;
    border-radius: 10%;
}
.contactUs p{
    font-weight: 900;
    cursor: pointer;
    color: #cc00ff;
    font-size: 25px;
    text-decoration: underline;
}.contactUs li{
    margin-top: 20px;
    font-weight: 500;
    transition: 0.2s ;
    margin-bottom: 30px;
    color: white;
}
.contactUs li:hover{
    color: yellow;
}
.quickLinks li a{
    text-decoration: none;
    color: white;    
    transition: 0.2s;
}.quickLinks li a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.quickLinks li{
    margin-top: 20px;
    font-weight: 500;
} 
