@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: no-repeat;
}
#h1{
    text-align: center;
    margin-top: 1em;
    font-family: "Orbitron", serif;
    color: rgba(25, 22, 22, 0.778);
    letter-spacing: 0.4em;
    text-decoration: underline;
}
.dark #h1{
    color: white;
}

.proj{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}

.proj1{
    height: 330px;
    width: 300px;
    padding: 30px;
    border: 1px solid rgb(59, 56, 56);
    background-color: transparent;
    box-shadow: 1px 1px 14px rgb(0, 0, 0);
    border-radius: 0.6em;
    transition: all 0.3s ease-in-out 0s ;
}
.proj1:hover{
    transform: scale(1.09,1.09);
}
.dark .proj1{
    border: 1px solid white;
    background-color: transparent;
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
}
.proj1 img{
    height: 30%;
    width: 100%;
}
#projHead{
    font-size: 1.1em;
    margin-top: 1em;
    font-weight: 900;
    color: rgb(17, 9, 119);
    text-decoration:rgb(17, 9, 119) underline;  font-family: "Nixie One", serif;
}
.dark #projHead{
    color: rgb(38, 0, 255);
} 
#projCont{
    margin-top: 0.5em;
    font-size: 1.4em;
    color: rgb(32, 27, 31); 
    font-family: "Agdasima", serif;
}
.dark #projCont{
    color: white;
}
#open{
    background-color: #0096FF;
    padding:1em 1.2em;
    font-size: 1em;
    margin-left: 11em;
    margin-top: 1.4em;
    border: none;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    border-radius: 1.5em;
}
#open a{
    color: white;

}
#open:hover{
    background-color: rgba(0, 0, 245, 0.704);
}
