@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

::selection{
    color: yellow;
    background-color: purple;
}
:root {
    --background-light: white;
    --background-dark: #020F1B;
    --text-light: black;
    --text-dark: #a0a0a0;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background:linear-gradient(silver,white) ;
    background: no-repeat;
    min-height: 100vh;
}
#btn{
    cursor: pointer;
    border: none;
    height: 1.2em;
    border-radius: 8px;
}
.dark{
    background:no-repeat;
    height: 100vh;
    background:linear-gradient(#071a2beb,#000000);
    color:var(--text-dark);
}
.light{
    background:linear-gradient(silver,white) ;
    color:var(--text-light);
    height: 100vh;
}
.para1{
    color: white;
    transition: all 0.2s ease-in-out 0s;
    
}
.para2{
    color: black;
}
nav{
    height: 60px;
    border: 1px solid transparent;
    border-bottom-color: rgba(139, 137, 137, 0.861);
    font-family: "Raleway", serif;
    margin-left: 6px;
    margin-right: 6px;
}
#name{
    position: relative;
    right: 30em;
    font-weight: 900;
    font-family: "Major Mono Display", serif;
    background: linear-gradient(to right,white 40%,rgb(26, 1, 255) 50%);
    background-clip: text;
    color: transparent;
    font-size: 2em;
    display: block;
}

nav ul{
    position: relative;
    margin-right: 2em;
    top: 1.5em;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}
nav ul li a{
    font-size: 1.20em;
    font-weight: 430;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
nav ul li a{
    color: black; 
}

.dark nav ul li a{
    color: #ffffff; 
}
.dark nav ul li a:hover{
    color: rgb(36, 188, 69);
}
nav ul li a:hover{
    color: rgb(36, 117, 188);
}
#hamburger-menu{
    font-size: 1.5em;
    position: absolute;
    color: red;
    top: 0.6em;
    right: 2em;
    display: none;
}
